{{>head}}

<body>
    <div class="container1">
        {{>navbar}}
        <div class="err-img-section">
            {{!-- <img id="img404" src="../images/404.jpeg" alt="" srcset=""> --}}
            <a class="err-a" href="/"><button class="err-btn">GO TO HOME</button></a>
        </div>
        {{>footer}}
    </div>
</body>