{{>head}}

<body>
    <div class="container1">
        {{>navbar}}
        {{!-- main --}}
        <div class="container-fluid">
            <div class="col-md-6 col-12 happy">
               <img src="./images/about.jpg" alt="photo">
            </div>

            <div class="row">
                <div class="col-md-6 col-12">
                    <p>I Am A <span> Mern Stack Developer </span></p>
                    <a href="#"><button>About ME</button></a>
                </div>

            </div>
        </div>
        {{> footer}}
    </div>
</body>

</html>