*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
/* #body-grid-3{
    display: grid;
    grid-template-rows: auto 1fr auto;
} */

.navbar{
    background-color: rgb(201, 198, 198);
}

.container1{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.err-img-section{
    margin: auto;
    height: 450px;
    width: 750px;
    background-image: url("../images/404.jpeg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    position: relative;
}
.err-a{
    position: absolute;
    top: 340px;
    left: 275px;
    border-style: none;
    outline:rgb(193,193,245);
    text-decoration: none;
    
}

.err-btn{
    border: 1px solid rgb(193,193,245);
    font-size: 1.03em;
    padding: .25em;
    color: white;
    border-radius: 1000px;
    outline: rgb(193,193,245);
    background-color: rgb(193,193,245);
    cursor: pointer;
}
.err-btn:hover{
    color: rgb(193,193,245);
    background-color: white;

}

.tempInfo{
    background-image: url("../images/bg4.jpg");
    background-color: #F8FFDB;
    height: 380px;
    width: 650px;
    padding: 0px 20px 20px;
    color: rgb(252, 245, 245);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
    margin:auto;
    margin-top:129px;
}

.weather-body{
    background-image: url("../images/bg5.jpg");
}

#cityName{
    width: 550px;
    padding: 8px;
    font-size: 1.25em;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 300px;
    
}
#cityName:focus{
    border: 1px solid #F8FFDB;
}
#submitBtn{
    outline: none;
    border-radius: 300px;
    padding: 6px;
    border: none;
    background-color: rgb(146, 216, 243);
    color: white;
    position: relative;
    bottom:40px;
    left: 480px;
}
#submitBtn:hover{
    background-color: rgb(103, 202, 241);
    color: white;
    border: 1px rgb(155, 219, 245);
}


.fa-cloud{
    color: #C7C4BF;

}